#Visual Studio files
bin
[Oo]bj/
*.user
*.suo

#Test API Files
src/KayakoRestApi.*Tests/TestBase/ApiKey.txt
src/KayakoRestApi.*Tests/TestBase/ApiUrl.txt
src/KayakoRestApi.*Tests/TestBase/SecretKey.txt

#NuGet
packages/
*.nupkg